/* Coolors Exported Palette - https://coolors.co/b95940-d67859-ca9575-a5a394-dedad7-1d1a19-4c3625 */

/* CSS HEX */
--jasper: #B95940ff;
--burnt-sienna: #D67859ff;
--buff: #CA9575ff;
--ash-gray: #A5A394ff;
--timberwolf: #DEDAD7ff;
--eerie-black: #1D1A19ff;
--caf-noir: #4C3625ff;

/* CSS HSL */
--jasper: hsla(12, 49%, 49%, 1);
--burnt-sienna: hsla(15, 60%, 59%, 1);
--buff: hsla(23, 45%, 63%, 1);
--ash-gray: hsla(53, 9%, 61%, 1);
--timberwolf: hsla(26, 10%, 86%, 1);
--eerie-black: hsla(15, 7%, 11%, 1);
--caf-noir: hsla(26, 35%, 22%, 1);

/* SCSS HEX */
$jasper: #B95940ff;
$burnt-sienna: #D67859ff;
$buff: #CA9575ff;
$ash-gray: #A5A394ff;
$timberwolf: #DEDAD7ff;
$eerie-black: #1D1A19ff;
$caf-noir: #4C3625ff;

/* SCSS HSL */
$jasper: hsla(12, 49%, 49%, 1);
$burnt-sienna: hsla(15, 60%, 59%, 1);
$buff: hsla(23, 45%, 63%, 1);
$ash-gray: hsla(53, 9%, 61%, 1);
$timberwolf: hsla(26, 10%, 86%, 1);
$eerie-black: hsla(15, 7%, 11%, 1);
$caf-noir: hsla(26, 35%, 22%, 1);

/* SCSS RGB */
$jasper: rgba(185, 89, 64, 1);
$burnt-sienna: rgba(214, 120, 89, 1);
$buff: rgba(202, 149, 117, 1);
$ash-gray: rgba(165, 163, 148, 1);
$timberwolf: rgba(222, 218, 215, 1);
$eerie-black: rgba(29, 26, 25, 1);
$caf-noir: rgba(76, 54, 37, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #B95940ff, #D67859ff, #CA9575ff, #A5A394ff, #DEDAD7ff, #1D1A19ff, #4C3625ff);
$gradient-right: linear-gradient(90deg, #B95940ff, #D67859ff, #CA9575ff, #A5A394ff, #DEDAD7ff, #1D1A19ff, #4C3625ff);
$gradient-bottom: linear-gradient(180deg, #B95940ff, #D67859ff, #CA9575ff, #A5A394ff, #DEDAD7ff, #1D1A19ff, #4C3625ff);
$gradient-left: linear-gradient(270deg, #B95940ff, #D67859ff, #CA9575ff, #A5A394ff, #DEDAD7ff, #1D1A19ff, #4C3625ff);
$gradient-top-right: linear-gradient(45deg, #B95940ff, #D67859ff, #CA9575ff, #A5A394ff, #DEDAD7ff, #1D1A19ff, #4C3625ff);
$gradient-bottom-right: linear-gradient(135deg, #B95940ff, #D67859ff, #CA9575ff, #A5A394ff, #DEDAD7ff, #1D1A19ff, #4C3625ff);
$gradient-top-left: linear-gradient(225deg, #B95940ff, #D67859ff, #CA9575ff, #A5A394ff, #DEDAD7ff, #1D1A19ff, #4C3625ff);
$gradient-bottom-left: linear-gradient(315deg, #B95940ff, #D67859ff, #CA9575ff, #A5A394ff, #DEDAD7ff, #1D1A19ff, #4C3625ff);
$gradient-radial: radial-gradient(#B95940ff, #D67859ff, #CA9575ff, #A5A394ff, #DEDAD7ff, #1D1A19ff, #4C3625ff);